@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/SatoshiBold.otf");
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/fonts/SatoshiMedium.otf");
}
@font-face {
  font-family: "Campton Bold";
  src: url("/fonts/CamptonBold.ttf");
}
@font-face {
  font-family: "Campton Light";
  src: url("/fonts/CamptonLight.ttf");
}
@font-face {
  font-family: "Graphik Semibold";
  src: url("/fonts/GraphikSemibold.otf");
}
@font-face {
  font-family: "Graphik Regular";
  src: url("/fonts/GraphikRegular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
