@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/SatoshiBold.otf");
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/fonts/SatoshiMedium.otf");
}
@font-face {
  font-family: "Campton Bold";
  src: url("/fonts/CamptonBold.ttf");
}
@font-face {
  font-family: "Campton Light";
  src: url("/fonts/CamptonLight.ttf");
}
@font-face {
  font-family: "Graphik Semibold";
  src: url("/fonts/GraphikSemibold.otf");
}
@font-face {
  font-family: "Graphik Regular";
  src: url("/fonts/GraphikRegular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply selection:bg-zinc-300 selection:text-zinc-800;
}

body::-webkit-scrollbar {
  display: none !important;
}

/* layouts */
.section_layout {
  @apply w-full h-full gap-2 px-4;
}

/* ! codeblock */
.codebox {
  padding: 0px;
}
.codebox::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
  width: 6px !important;
}
.codebox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: all 1s ease;
}

.codebox:hover::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}

.react-syntax-highlighter-line-number {
  margin-right: 5px !important;
}
